body {
    background-image: url("CityView.gif");
    /* background-image: url("MineSweeper_background.png"); */
    background-size: 80vh;
}

header {
    display: flex;
    margin: auto auto;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-weight: bold;
    background-color: #dddddd;
    border: 2px solid #cccccc;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-right-color: #999999;
    border-bottom-color: #999999;
}

.checked {
    background-color: #AAAAAA;
}

.error::placeholder {
    color: red;
}